@tailwind base;
@tailwind components;
@tailwind utilities;

/* Ocultar scrollbar para navegadores webkit (Chrome, Safari, Edge) */
.no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  
  /* Ocultar scrollbar en Firefox */
  .no-scrollbar {
    scrollbar-width: none; 
  }
  
  /* Ocultar scrollbar en IE y Edge */
  .no-scrollbar {
    -ms-overflow-style: none;
  }
  
/* Estilos para el modo claro */
.pdf-light-mode {
  @apply bg-white text-black !important;
}

/* Ocultar botones */
.pdf-hide-buttons .print\:hidden {
  @apply hidden;
}
